<div>
    <span style="margin-top:0px;margin-bottom:5px">
        <%= title %>
    </span>
    <div style="display:flex;flex-direction:row;margin-top:3px;">
        <p style="margin-top:0px;margin-right:2px;font-size:14px;color:gray;flex:1">
            <%- content %>
        </p>
        <img src="<%- logoUrl %>" style="width:40px;height:40px" />
    </div>
</div>